.nav {
    position: fixed;
    background-color:black;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
}

.home-section {
    background-color:red;
    width: 100%;
    top: 100px;
    left: 0;
    height: 500px;
    padding-left: 10px;
}

