
.nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color:#262626;
    width: 100%;
    height: 100px;    
}

.top-spacing {
    width: 100%;
    height: 100px;
}

.nav-left {
    font-family: "Forum", serif;
    display: flex;
    width: 50%;
    padding-left: 5%;
}

.nav-right {
    font-family: "Forum", serif;
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 5%;
}

.nav-link-btn {
    padding: 2%;
    border: 2px #878787;
    color: #878787;
    margin-left: 3%;
    text-decoration: none;
    font-size: 20px
}

.home-link-btn {
    padding: 2%;
    border: 2px #878787;
    color: #878787;
    text-decoration: none;
    font-size: 20px
}

a:hover {
    color: #4f4f4f;
}

.header-text {
    font-family: "Forum", serif;
    font-weight: 500;
    text-align: center;
    font-size: 80px;
    font-style: italic;
}

.home-section {
    width: 100%;
    top: 100px;
    left: 0;
    height: 500px;
    padding-left: 10px;
}

.divide-line {
    display: flex;
    height: 2px;
    background-color: gray;
    width: 100%;
    margin: 7%;
}

.text-body {
    display: flex;
    height: auto;
    width: 100%;
    margin: 10%;
}

.main-text {
    font-size: 20px;
    font-family: "Forum", serif;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#262626;
    margin-top: 50px;
    width: 100%; 
}

.footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#262626;
    overflow: hidden;
}

.div-bubble {
    border-radius: 5%;
    border: 3px solid #878787;
    background-color:#878787
}

.div-bubble-ref {
    border-radius: 5%;
    border: 3px solid #262626;
    background-color:#262626
}


.div-bubble-text{
    border-radius: 10%;
    border: 3px solid#878787;
    background-color: #878787;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
}

table {
    border: 3px solid;
}

th{
    border: 3px solid #4f4f4f;
    border-collapse: collapse;
    font-family: Forum, serif; 
    font-weight: 200;
    font-size: 25px;

}

td {
    border: 3px solid #4f4f4f;
    border-collapse: collapse;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.info-body-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

h4 {
    border-radius: 50%; 
    text-align: center; 
    font-family: Forum, serif; 
    font-size: 40px; 
    font-style: italic; 
    font-weight: 200;
}

h5 { 
    font-family: Forum, serif; 
    font-size: 25px;  
    font-weight: 300;
    margin-bottom: 0;
}

li {
    padding-top: 5%;
    font-size: larger;
}

.answers {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.question {
    font-family: Forum, serif; 
    font-weight: 200;
    font-size: 25px;
}

.btn-generic {
    font-family: "Forum", serif;
    border-radius: 5%;
    padding: 2%;
    border: 2px #878787;
    color: #878787;
    background-color: #262626;
    text-decoration: none;
    font-size: 20px
}

.btn-generic:hover {
    color: #4f4f4f;
}

/*mobile breakpoint*/
@media (max-width: 600px) {
    
    .div-main-index {
        display: flex; 
        flex-direction: column;
        padding: 0% 10%;
        gap: 2%;
    }
    
    .div-bubble {
        border-radius: 5%;
        border: 3px solid #878787;
        background-color:#878787
    }

    .indeximg {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 5%;
    }

    .footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#262626;
    overflow: hidden;
    height: 50px; 
    width: 100%;
    }

    .glossarytable {
        flex: auto; 
        margin: 0% 5%;
    }

    ol {
        padding-right: 8%;
    }
}

/*medium breakpoint*/
@media (max-width: 1024px) {
    
    .div-main-index {
        display: flex; 
        padding: 0% 10%;
        gap: 2%;
    }
    
    .div-bubble {
        border-radius: 5%;
        border: 3px solid #878787;
        background-color:#878787;
        margin-top: 7%;
    }
    
    .indeximg {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 5%;
    }

    .footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#262626;
    overflow: hidden;
    height: 60px; 
    width: 100%;
    }

    .glossarytable {
        flex: auto; 
        margin: 0% 10%;
    }

    ol {
        padding-right: 5%;
    }
}

/*desktop breakpoint*/
@media (min-width: 1025px) {
    
    .div-main-index {
        display: flex; 
        padding: 0% 10%;
        gap: 2%;
    }

    .div-bubble {
    border-radius: 5%;
    border: 3px solid #878787;
    background-color:#878787
    }
    
    .div-main-work-cited {
        display: flex; 
        flex-direction: column; 
        margin-top: 5%; 
        padding: 0% 20%;
    }

    .indeximg {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        border-radius: 5%;
    }

    .footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#262626;
    overflow: hidden;
    height: 50px; 
    width: 100%;
    }

    .glossarytable {
        flex: auto; 
        margin: 0% 20%;
    }

    ol {
        padding-right: 5%;
    }

}


